<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <th>display_accessrecord</th>
        <table border="3px">
            <tr>
                <th>name</th>
                <th>date</th>
                <th>author</th>
            </tr>
            {% for aro in accessrecords %}
            <tr>
                <td>{{aro.name}}</td>
                <td>{{aro.date}}</td>
                <td>{{aro.author}}</td>
            </tr>
            {% endfor %}

        </table>
    </center>
</body>
</html>